# Ignore everything in data subdirectories except .gitkeep files
data/raw/*
data/interim/*
data/splits/*
data/predictions/*
data/features/*
data/weights/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/splits/.gitkeep
!data/predictions/.gitkeep
!data/weights/.gitkeep

# Ignore specific folder types
**/.ipynb_checkpoints/ 
**/__pycache__/ 
**/deprecated/
**/wandb/

# Ignore specific file types
*.nc
*.h5
*.pkl
*.sh
*.pth
*.npz
*.pyc
*.log
logs/*.log
